### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/public/cms/*
!/public/cms/.gitkeep
/public/app/mu-plugins/themosis-framework/
/public/app/themes/themosis-theme/
/public/app/uploads/
/public/app/upgrade/


### Environment Credentials
.env
.env.*
!.env.local